body {
    margin: 0;
    background-color: #1b244a;
    color: white;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin: 0px 0px 10px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 20px auto;
} 

p {
    margin: 0;
}

.score {
    margin: 0px 20px 10px;
    text-align: center;
    padding: 30px 43px;
    background-color: black;
    color: red;
    font-size: 3rem;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.score-button {
    border: 1px solid #0aabd8;
    border-radius: 5px;
    background-color: transparent;
    color: #0aabd8;
    padding: 5px 10px;
    opacity: 70%;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                    
}